node_modules/
.idea
*/node_modules/
.npmrc
examples/lobe*
examples/chat*
examples/AFFiNE
yarn-error.log
examples/drawdb
examples/lowcode-designable-taro-react
examples/print-template-designer
examples/react-admin
examples/vue-plugin-hiprint
